@import 'tailwindcss';
@import '@nuxt/ui';
@plugin 'tailwindcss-motion';

:root {
	--ui-secondary: #136df5;
	--ui-success: #69ec42;
	--font-title: 'Noto Sans', sans-serif;
}

.scrollbar-hide {
	scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

html,
body {
	overflow-x: hidden;
}

html.light {
	background-color: #f0f0f0;
}
