name: Build Project
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@earth-app'
      - name: Install Husky
        run: bun add -g husky
      - name: Install dependencies
        run: |
          bun install --frozen-lockfile
          bun run postinstall
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Library
        run: bun run build:lib
      - name: Update Version with Hash
        run: |
          VERSION=$(node -p "require('./package.json').version")
          NEW_VERSION="${VERSION}-${GITHUB_SHA::7}"
          npm version $NEW_VERSION --no-git-tag-version
          echo "Publishing version: $NEW_VERSION"
      - name: Publish to GitHub Packages
        run: bun publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@earth-app'
      - name: Install Husky
        run: bun add -g husky
      - name: Install dependencies
        run: bun install --frozen-lockfile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to NuxtHub
        run: bunx nuxthub deploy
        env:
          NUXT_HUB_PROJECT_KEY: ${{ vars.NUXT_HUB_PROJECT_KEY }}
          NUXT_HUB_USER_TOKEN: ${{ secrets.NUXT_HUB_USER_TOKEN }}
