name: Build Project
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 'latest'
      - name: Install Husky
        run: bun add -g husky
      - name: Install dependencies
        run: |
          bun install --frozen-lockfile
          bun run postinstall
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update Version with Hash
        run: |
          VERSION=$(node -p "require('./package.json').version")
          NEW_VERSION="${VERSION}-${GITHUB_SHA::7}"
          npm version $NEW_VERSION --no-git-tag-version
          echo "Publishing version: $NEW_VERSION"
      - name: Publish to GitHub Packages
        run: npm publish --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
